:root{
    --PrimeBlue : #00b8ff;
    --DarkerBlue : #00719c;
}
.nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin: 20px;
    position: absolute;
    top: 0;
}

ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    list-style: none;
    grid-gap: 5rem;
}
li{
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.homeContainer{
    background-image: url("./images/capetown.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeContainer h1{
    color: #000;
    font-size: 3.5rem;
}
.homeContainer div{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.homeContainer div label{
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--DarkerBlue);
    padding: 0.5rem;
    border-radius: 0.8rem;
}
.Home-Slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Home-Slider .bookRoom{
    width: 70%;
}
.Home-Slider .bookRoom .elements{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template:  'RoomBox RoomBox RoomBox RoomBox RoomBox';
    display: flex;
}
.Home-Slider .bookRoom .elements .RoomBox{
    margin: 20px;
}
.Home-Slider .bookRoom .elements .RoomBox:last-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.Home-Slider .bookRoom .elements .RoomBox input{
    width: 100%;
    height: 30px;
    border: 2px solid var(--DarkerBlue);
    border-radius: 5px;
}
.Home-Slider .bookRoom .elements .RoomBox .dateinput{
    width: 40%;
}