:root{
    --PrimeBlue : #00b8ff;
    --DarkerBlue : #00719c;
}
.nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin: 20px;
    position: absolute;
    top: 0;
}

ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    list-style: none;
    grid-gap: 5rem;
}
li{
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.homeContainer{
    background-image: url("./images/capetown.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeContainer h1{
    color: #000;
    font-size: 3.5rem;
}
.homeContainer div{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
.homeContainer div label{
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--DarkerBlue);
    padding: 0.5rem;
    border-radius: 0.8rem;
}
.Home-Slider{
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 20px;
    margin: 10px;
}
.innerBox{
    background-color: #00719c;
}
.innerBox img{
    width: 100%;
    height: 100%;
}